@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;600;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul{
list-style: none;
}

a{
    text-decoration: none;
}

:root{
    --main-white-color:#FAFAFA;
    --main-violet-color:#47033B;
    --main-pink-color:#FF006E;
    
    --secondary-violet-color:#2E0226;
    --secondary-blue-color:#00B1F7;
    --secondary-green-color:#00F7A0;
    
}

body{
    background-color: var(--main-white-color);
    font-family: 'Orbitron', sans-serif;
    color:var(--main-white-color)
}


